body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #1f1f1f;
    padding: 20px;
    min-height: 100vh;
}

.sidebar h2 {
    text-align: center;
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 4px;
    display: block;
    text-align: center;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #6200ee;
}

main {
    flex-grow: 1;
    padding: 20px;
}

h1, h2 {
    color: #fff;
}

.trade-form {
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.trade-form .form-group {
    margin-bottom: 20px;
}

.trade-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #bbb;
}

.trade-form .form-group input {
    width: 100%;
    padding: 10px;
    background-color: #2b2b2b;
    border: 1px solid #444;
    border-radius: 4px;
    color: #e0e0e0;
}

button {
    background-color: #6200ee;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

.trades-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.trades-table th, .trades-table td {
    padding: 15px;
    text-align: center;
}

.trades-table th {
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
}

.trades-table td {
    background-color: #1d1d1d;
    border-bottom: 1px solid #333;
}

.trades-table tr:hover {
    background-color: #2b2b2b;
}


.button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.add-button {
    background-color: #4CAF50; /* لون أخضر */
}

.delete-button {
    background-color: #f44336; /* لون أحمر */
}

.button:hover {
    opacity: 0.8; /* تأثير عند التمرير */
}
